/node_modules/ linguist-vendored
/build/ linguist-vendored
*.js linguist-detectable=false
/node_modules/ linguist-vendored
/build/ linguist-vendored
*.cpp linguist-detectable=false
/node_modules/ linguist-vendored
/build/ linguist-vendored
*.cc linguist-detectable=false
/node_modules/ linguist-vendored
/build/ linguist-vendored
*.h linguist-detectable=false
/node_modules/ linguist-vendored
/build/ linguist-vendored
*.json linguist-detectable=false
/node_modules/ linguist-vendored
/build/ linguist-vendored
*.sh linguist-detectable=false
/node_modules/ linguist-vendored
/build/ linguist-vendored
*.xml linguist-detectable=false
*.dart linguist-language=Dart
